<main class="index col-lg-12 col-sm-12 h-100">
    <header class="masthead d-flex maxheight">
        <div class="container text-center my-auto">
            <h1 class="mb-1 display-3">Mechatronik Apps</h1>
            <h3 class="mb-5">
                <em>Panel de control</em>
            </h3>
            <a class="btn btn-dark btn-lg" href="/signin">
                Administrar Web
            </a>
            <a class="btn btn-dark btn-lg" href="https://www.mechatronik-group.com">
                Ir a la web
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>